/*----- Variables ------------------------------------------------------------*/
:root {
  /*----- Color Palette ------------------------------------------------------*/

  /*----- UI Colors ----------------------------------------------------------*/

  /*----- Fonts --------------------------------------------------------------*/
  --font-copy: sans-serif;
  --font-heading: serif;

  /*----- Sizes --------------------------------------------------------------*/
  --size-em: 11pt;
}

body {
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: bold;
}
html {
  font-family: var(--font-copy);
  font-size: var(--size-em);
}
section {
  width: 100%;
}
